<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instrucciones de Uso de la API Repomatic - Sección /admin - v1.1.1</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #2e6da4;
        }

        p {
            margin-bottom: 10px;
        }

        code {
            font-family: Consolas, monospace;
            background-color: #f0f0f0;
            padding: 2px 5px;
            border-radius: 3px;
        }
    </style>
</head>

<body>
    <div>

        <h1>Instrucciones de Uso de la API</h1>
        <p>Para utilizar esta API, sigue estos pasos:</p>
        <ol>
            <li>Envía una solicitud POST a la siguiente URL: <code>https://repomatic.onrender.com/usuarios_por_asignacion_para_gestores</code>.
            </li>
            <li>Este pedido demora al rededor de 4 minutos y el peso de su respuesta es aprox 4,16 Mb. El pedido post lleva en el body ... Ej:
            </li>
        </ol>
        <pre>
    {
        "username": "tu usuario campus",
        "password": "tu password campus"
    }
        </pre>
    </div>
    <br>
    <p>¡Gracias por utilizar la API! - Creado 08/07/24 by Regenerik</p>
</body>

</html>